TZ=Asia/Shanghai
PUID=1000
PGID=1000
USERNAME=dev
PASSWORD=changeme
SSH_PASSWORD=changeme
VNC_PASSWORD=changeme
SOCKS5_PROXY_HOST=host.docker.internal
SOCKS5_PROXY_PORT=1080
SOCKS5_PROXY_USERNAME=
SOCKS5_PROXY_PASSWORD=
WEB_VNC_PORT=6080
SSH_PORT=2222
DISPLAY_WIDTH=1600
DISPLAY_HEIGHT=900
DISPLAY_DEPTH=24
ENABLE_IPTABLES=1
